Date                             :        date of the measurement

% Iron Feed : % of Iron that comes from the iron ore that is being fed into the flotation cells

% Silica Feed                    :        % of silica (impurity) that comes from the iron ore that is being fed into the flotation cells

Starch Flow                      :        Starch (reagent) Flow measured in m3/h

Amina Flow                       :        Amina (reagent) Flow measured in m3/h

Ore Pulp Flow                    :        t/h

Ore Pulp pH                      :        pH scale from 0 to 14

Ore Pulp Density                 :        Density scale from 1 to 3 kg/cm³

Flotation Column 01..07 Air Flow     :        Air flow that goes into the flotation cell measured in Nm³/h

Flotation Column 01..07 Level        :        Froth level in the flotation cell measured in mm (millimeters)

%Iron Concentrate                :        % of Iron which represents how much iron is presented in the
                                       end of the flotation process (0-100%, lab measurement)

% Silica Concentrate             :        % of silica which represents how much iron is presented in the end
                                       of the flotation process (0-100%, lab measurement)

In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/moham/Desktop/MiningProcess_Flotation_Plant_Database_seconds.csv', decimal=',')
df['date'] = pd.to_datetime(df['date'])

In [3]:
df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [6]:
df.columns= ['date', '% Iron Feed', '% Silica Feed','Starch Flow','Amina Flow','Ore Pulp Flow','Ore Pulp pH','Ore Pulp Density','p-Flotation Column 01 Air Flow','p-Flotation Column 02 Air Flow','p-Flotation Column 03 Air Flow','p-Flotation Column 04 Air Flow','p-Flotation Column 05 Air Flow','p-Flotation Column 06 Air Flow','p-Flotation Column 07 Air Flow','p-Flotation Column 01 Level','p-Flotation Column 02 Level','p-Flotation Column 03 Level','p-Flotation Column 04 Level','p-Flotation Column 05 Level','p-Flotation Column 06 Level','p-Flotation Column 07 Level','% Iron Concentrate','% Silica Concentrate']

In [7]:
df

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,p-Flotation Column 01 Air Flow,p-Flotation Column 02 Air Flow,...,p-Flotation Column 07 Air Flow,p-Flotation Column 01 Level,p-Flotation Column 02 Level,p-Flotation Column 03 Level,p-Flotation Column 04 Level,p-Flotation Column 05 Level,p-Flotation Column 06 Level,p-Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.20,16.98,3019.53,557.434,395.713,10.06640,1.74000,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.20,16.98,3024.41,563.965,397.383,10.06720,1.74000,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.20,16.98,3043.46,568.054,399.668,10.06800,1.74000,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.20,16.98,3047.36,568.665,397.939,10.06890,1.74000,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.20,16.98,3033.69,558.167,400.254,10.06970,1.74000,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737448,2017-09-09 23:00:00,49.75,23.20,2710.94,441.052,386.570,9.62129,1.65365,302.344,298.786,...,313.695,392.160,430.702,872.008,418.725,497.548,446.357,416.892,64.27,1.71
737449,2017-09-09 23:00:00,49.75,23.20,2692.01,473.436,384.939,9.62063,1.65352,303.013,301.879,...,236.700,401.505,404.616,864.409,418.377,506.398,372.995,426.337,64.27,1.71
737450,2017-09-09 23:00:00,49.75,23.20,2692.20,500.488,383.496,9.61874,1.65338,303.662,307.397,...,225.879,408.899,399.316,867.598,419.531,503.414,336.035,433.130,64.27,1.71
737451,2017-09-09 23:00:00,49.75,23.20,1164.12,491.548,384.976,9.61686,1.65324,302.550,301.959,...,308.115,405.107,466.832,876.591,407.299,502.301,340.844,433.966,64.27,1.71
737452,2017-09-09 23:00:00,49.75,23.20,1164.12,468.019,384.801,9.61497,1.65310,300.355,292.865,...,308.115,413.754,514.143,881.323,378.969,500.100,374.354,441.182,64.27,1.71

We will create 2 datasets, one which will contain the data for every hour, and one for every 20 seconds

aggregation of the data for every hour instead of 20 seconds

In [8]:
df.groupby(['date']).mean().to_csv('MiningProcess_Flotation_Plant_Database_hour.csv')

creating the 20 second frequency Datetime Index.

In [9]:
hours = pd.Series(df['date'].unique())
hours.index = hours
len(hours)

4097

In [10]:
date_range = pd.date_range(start=df.iloc[0,0], end='2017-09-09 23:59:40', freq='20S')

In [11]:
hours_list = hours.index.format()
print(hours_list[:5])
seconds_list = date_range.format()
print(seconds_list[:5])

['2017-03-10 01:00:00', '2017-03-10 02:00:00', '2017-03-10 03:00:00', '2017-03-10 04:00:00', '2017-03-10 05:00:00']
['2017-03-10 01:00:00', '2017-03-10 01:00:20', '2017-03-10 01:00:40', '2017-03-10 01:01:00', '2017-03-10 01:01:20']

In [12]:
new_index = []
for idx in seconds_list:
    if (idx[:13] + ':00:00') in hours_list:
        new_index.append(idx)

In [13]:
print(len(new_index))
print(len(df))

737460
737453

7 missing datas.

Trying to find those 7 missing values

Show the hours with less than 180 records 
Missing data within the hour: 3600 / 20  = 180 (a sample is taken every 20 second for every hour) .

In [14]:
counts = df.groupby('date').count()
counts[counts['% Iron Feed'] < 180]

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,p-Flotation Column 01 Air Flow,p-Flotation Column 02 Air Flow,p-Flotation Column 03 Air Flow,...,p-Flotation Column 07 Air Flow,p-Flotation Column 01 Level,p-Flotation Column 02 Level,p-Flotation Column 03 Level,p-Flotation Column 04 Level,p-Flotation Column 05 Level,p-Flotation Column 06 Level,p-Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
date,,,,,,,,,,,,,,,,,,,,,
2017-03-10 01:00:00,174,174,174,174,174,174,174,174,174,174,...,174,174,174,174,174,174,174,174,174,174
2017-04-10 00:00:00,179,179,179,179,179,179,179,179,179,179,...,179,179,179,179,179,179,179,179,179,179

The first hour is missing 6 datas while the other one is missing one, to match the amount of records found for those hours we will remove the couple 20 seconds intervals.

In [11]:
date_range = date_range[6:]
date_range[:3]
hours_list = hours.index.format()
seconds_list = date_range.format()

The 6 missing values of the first hour has been taken out, now we will remove the whole interval of the last missing value (2017-04-10 00:00:00)

In [12]:
new_index = []
for idx in seconds_list:
    if (idx[:13] + ':00:00') in hours_list:
        new_index.append(idx)

new_index.remove('2017-04-10 00:00:00')

In [13]:
print(len(new_index))
print(len(df))

737453
737453

In [14]:
df['index'] = new_index
df['index'] = pd.to_datetime(df['index'])
df.index = df['index']
df = df.loc[:, df.columns[:-1]]
df = df.drop(['date'], axis=1)
df.head()

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
index,,,,,,,,,,,,,,,,,,,,,
2017-03-10 01:02:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,250.576,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
2017-03-10 01:02:20,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,250.862,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2017-03-10 01:02:40,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,250.313,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
2017-03-10 01:03:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,250.049,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
2017-03-10 01:03:20,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,249.895,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [15]:
df['index1'] = df.index

In [16]:
df.to_csv('MiningProcess_Flotation_Plant_Database_seconds.csv')

In [33]:
df1= pd.read_csv('C:/Users/moham/Documents/Github/Quality-prediction-in-a-mining-process/MiningProcess_Flotation_Plant_Database_hour.csv', decimal=',')